# Xcode
.DS_Store
build/
DerivedData/
*.moved-aside
*.xcuserstate
*.xcscmblueprint
xcuserdata/
*.ipa
*.dSYM.zip
*.dSYM

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Swift Package Manager
.build/
.swiftpm/
Packages
